.avatar {
    max-width: 100%;
    border-radius: 50%;
    height: 120px;
  }
  .card {
    margin-bottom: 20px;
  }
  .badge {
    margin-right: 5px;
  }
  #profile {
    margin-top: 20px;
  }
  .repo-card {
    margin-top: 10px;
  }